<!DOCTYPE html>
<html>
<head>

	<title>嗯呐呢那嫩好男人</title>
	<script></script>
	<script src="http://www.jq22.com/jquery/vue.min.js"></script>
	<body>
		<div id="one">
			{{newMessage}}			
		</div>
		<div id="two">
			{{showMessage}}
			<input type="text" v-model="showMessage">
		</div>
		<div id="app">
		    <p>{{ message }}</p>
		    <input type="text" v-model="message"/>
		</div>
		<div id="three">
			<h1 v-if="age > 24">Age老人 : {{age}}</h1>
			<h2 v-if="age <= 23">Ages : {{age}}</h2>
		</div>
		<div id="four">
			<table>
				<tr>
					<th>用户名</th>
					<th>密码你猜呀</th>
				</tr>
				<tbody>
					<tr v-for="user in users">
						<td>{{user.name}}</td>
						<td>{{user.psd}}</td>
					</tr>					
				</tbody>
			</table>
		</div>


		<script type="text/javascript">
			var ms = {
				newMessage : "Hello World"
			}			
			new Vue({
				el: "#one",
				data: ms
			})
			/*new Vue ({
				el: "#three",
				data : {
					age : 22
				}
			})*/
			var aa = new Vue ({
				el: "#three",
				data: {age : 22}
			})

			var bb = new Vue ({
				el: "#four",
				data: {users : [{name : "附近的撒离开", psd : "refds"},
						{name : "fdsfdsfsdfs", psd : "fsdfs"}]}
			})
		</script>
	</body>
</html>
